@{
    ViewData["Title"] = "Trang chủ";
}
<div class="container page-content">
    <div style="display:flex;flex-wrap:wrap;gap:12px;padding:24px;align-items:center;">

        <luan-button text="Primary"></luan-button>

        <luan-button text="Secondary" variant="secondary"></luan-button>

        <luan-button text="Ghost" variant="ghost"></luan-button>

        <luan-button text="Outline" variant="outline"></luan-button>

        <luan-button text="Danger" variant="danger" icon="🗑️"></luan-button>

        <luan-button text="Success" variant="success" icon="✅"></luan-button>

        <luan-button text="Warning" variant="warning" icon="⚠️"></luan-button>

        <luan-button text="Loading..." variant="danger" loading="true"></luan-button>

        <luan-button text="Disabled" variant="primary" disabled="true"></luan-button>

        <luan-button text="Click me" variant="primary" on-click="alert('ur mom fat')"></luan-button>

        <luan-button text="Link" variant="outline" href="https://google.com" target="_blank"
                     icon-right="→"></luan-button>

        <luan-button icon="⚙️" icon-only="true" variant="ghost" title="Cài đặt"></luan-button>

    </div>

</div>