@{
    ViewData["Title"] = "Trang chủ";
}
<div class="container page-content">
    <form action="/login" method="POST">
        <luan-card cx="max-w-[50%]" title="Đăng ký" subtitle="Tham gia cộng đồng vlf-4rum" radius="sm">
            <luan-input name="Tên tài khoản" placeholder="Username" hint="Nhập tên tài khoản (tối đa 50 kí tự)"
                        max-length="50" required="true"></luan-input>

            <luan-input type="password" name="Mật khẩu" placeholder="Password" hint="Nhập mật khẩu (tối đa 50 kí tự)"
                        max-length="50" required="true"></luan-input>

            <luan-button text="Đăng ký"" type=" submit" variant=" primary"></luan-button>
        </luan-card>
    </form>
</div>